# Maven
/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/main/**/target/**
!**/src/test/**/target/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
/.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
/.vscode/
/daily.html
/test.md
/.VSCodeCounter/

# Custom Files and Directories
memes-img/
monitor.json
benckmark.py
memes.sh
/memes/
/target/spotless-index
/logs/
